{
"*.{json,md,html}": [
   "prettier --write"
 ],
  "*.*css": [
    "prettier --write",
   "npm run lint-css"
 ],
 "*.ts": [
   "npm run lint"
 ],
 "*.vue": [
   "prettier --write",
   "npm run lint"
 ]
}
