<div :style="styleObject" class="datatable-body">
<datatable-selection
ref="selector"
:selected="selected"
:rows="rows"
:selectCheck="selectCheck"
:selectEnabled="selectEnabled"
:selectionType="selectionType"
:rowIdentity="rowIdentity"
@select="$emit('select', $event)"
@activate="$emit('activate', $event)">
<datatable-progress
  v-if="loadingIndicator">
</datatable-progress>
<datatable-scroller ref="scroller"
  v-if="rows && rows.length"
  :scrollbarV="scrollbarV"
  :scrollbarH="scrollbarH"
  :scrollHeight="scrollHeight"
  :scrollWidth="scrollWidth"
  @scroll="onBodyScroll">
  <datatable-summary-row class="datatable-summary-row"
    v-if="summaryRow && summaryPosition === 'top'"
    :rowHeight="summaryHeight"
    :offsetX="offsetX"
    :innerWidth="innerWidth"
    :rows="rows"
    :columns="columns"
    :columnsByPin="columnsByPin"
    :columnGroupWidths="columnGroupWidths"
    :groupStyles="getGroupStyles"
    :groupClass="getGroupClass('center')"
    :rowStyles="getRowStyles"
    :cellContext="getCellContext"
    :cellColumnCssClasses="cellColumnCssClasses"
    :cellStyleObject="cellStyleObject"
    :marginCellStyle="marginCellStyle"
    :slots=cellSlots>
  </datatable-summary-row>
  <datatable-row-wrapper class="datatable-row-wrapper" :styleObject="getRowsStyles(row, i)"
    v-for="(row, i) of temp" :key="i"
    :groupRowsBy="groupRowsBy"
    :groupLevel="0"
    :row="row"
    :innerWidth="innerWidth"
    :rowDetail="rowDetail"
    :groupHeader="groupHeader"
    :offsetX="offsetX"
    :groupRowHeight="groupRowHeight"
    :rowDetailHeight="getDetailRowHeight(row,i)"
    :expanded="getRowExpanded(row)"
    :rowIndex="getRowIndex(row)"
    :groupHeaderSlot="groupHeaderSlot"
    :rowDetailSlot="rowDetailSlot"
    @group-toggle="onGroupToggle"
    @row-contextmenu="$emit('rowContextmenu')">
    <datatable-body-row
      tabindex="-1"
      :columnsByPin="columnsByPin"
      :columnGroupWidths="columnGroupWidths"
      :isSelected="isSelect(row)"
      :groupStyles="getGroupStyles"
      :groupClass="getGroupClass(row)"
      :rowStyles="getRowStyles"
      :row="row"
      :displayCheck="displayCheck"
      :treeStatus="row.treeStatus"
      :cellContext="getCellContext"
      :cellColumnCssClasses="cellColumnCssClasses"
      :cellStyleObject="cellStyleObject"
      :marginCellStyle="marginCellStyle"
      :slots=cellSlots
      :renderTracking="renderTracking"
      @tree-action="onTreeAction($event)"
      @activate="onActivate($event, i)"
      @row-created="onRowRendered"
      @row-updated="onRowRendered">
    </datatable-body-row>
  </datatable-row-wrapper>
  <datatable-summary-row class="datatable-summary-row"
    v-if="summaryRow && summaryPosition === 'bottom'"
    :style="getBottomSummaryRowStyles"
    :rowHeight="summaryHeight"
    :offsetX="offsetX"
    :innerWidth="innerWidth"
    :rows="rows"
    :columns="columns"
    :columnsByPin="columnsByPin"
    :columnGroupWidths="columnGroupWidths"
    :groupStyles="getGroupStyles"
    :groupClass="getGroupClass('center')"
    :rowStyles="getRowStyles"
    :cellContext="getCellContext"
    :cellColumnCssClasses="cellColumnCssClasses"
    :cellStyleObject="cellStyleObject"
    :marginCellStyle="marginCellStyle"
    :slots=cellSlots>
  </datatable-summary-row>
</datatable-scroller>
<div
  class="empty-row"
  v-if="(!rows || !rows.length) && !loadingIndicator"
  v-html="emptyMessage">
</div>
</datatable-selection>
</div>