<div :id="`${context.column.prop}-${context.column.$$id}`" class="datatable-body-cell" :style="cellStyleObject(context)"
  v-show="context.column.visible"
  :tabindex="tabIndex" :class="cellColumnCssClasses(context)"
  @dblclick="onDblClick" @click="onClick"
  @keydown="onKeyDown" @mouseenter="onMouseEnter"
  @focus="onFocus" @blur="onBlur">
  <div class="datatable-body-cell-label" :style="marginCellStyle(context)">
    <label v-if="context.column.checkboxable && (!context.displayCheck || context.displayCheck(context.row, context.column, context.value))"
      class="datatable-checkbox">
      <input type="checkbox" :checked="context.isChecked" @click="onCheckboxChange" />
    </label>
    <template v-if="context.column.isTreeColumn">
      <button v-if="!context.column.treeToggleTemplate" class="datatable-tree-button" :disabled="context.row.treeStatus==='disabled'"
        @click="onTreeAction">
        <span>
          <i v-if="context.row.treeStatus==='loading'" class="icon datatable-icon-collapse"></i>
          <i v-else-if="context.row.treeStatus==='collapsed'" class="icon datatable-icon-right"></i>
          <i v-else-if="context.row.treeStatus==='expanded'" class="icon datatable-icon-down"></i> 
          <!-- || context.treeStatus==='disabled' -->
          <i v-else class="icon icon-disabled datatable-icon-down"></i> 
        </span>
      </button>
      <slot name="tree-toggle">
      </slot>
    </template>
    <slot v-bind="{ 
                 row: context && context.row ? context.row : {},
                 column: context.column,
                 rowIndex: context.rowIndex, 
                 group: context.group, 
                 expanded: context.expanded,
                 value: context.value }">
      <span :title="context.sanitizedValue" v-html="context.value"></span>
    </slot>
  </div>
</div>
