<div class="ngx-datatable"
v-visibility-observer
:class="classObject"
@visible="recalculate" 
@insert-column="onColumnInsert">
<div class="hidden-columns" ref="hiddenColumns"><slot></slot></div>
<datatable-header ref="datatableHeader" class="datatable-header"
  v-if="headerHeight"
  :sorts="mySorts"
  :sortType="mySortType"
  :scrollbarH="scrollbarH"
  :innerWidth="innerWidth"
  :offsetX="offsetX"
  :dealsWithGroup="groupedRows"
  :columns="internalColumns"
  :headerHeight="headerHeight"
  :reorderable="reorderable"
  :targetMarkerTemplate="targetMarkerTemplate"
  :sortAscendingIcon="cssClasses.sortAscending"
  :sortDescendingIcon="cssClasses.sortDescending"
  :allRowsSelected="allRowsSelected"
  :selectionType="selectionType"
  @sort="onColumnSort($event)"
  @resize="onColumnResize($event)"
  @reorder="onColumnReorder($event)"
  @select="onHeaderSelect($event)"
  @columnContextmenu="onColumnContextmenu($event)">
</datatable-header>
<datatable-body ref="datatableBody"
  :groupRowsBy="groupRowsBy"
  :groupedRows="groupedRows"
  :rows="internalRows"
  :groupExpansionDefault="groupExpansionDefault"
  :scrollbarV="scrollbarV"
  :scrollbarH="scrollbarH"
  :virtualization="virtualization"
  :loadingIndicator="loadingIndicator"
  :externalPaging="externalPaging"
  :rowHeight="rowHeight"
  :rowCount="rowCount"
  :offset="myOffset"
  :trackByProp="trackByProp"
  :columns="internalColumns"
  :pageSize="pageSize"
  :offsetX="offsetX"
  :rowDetail="rowDetail"
  :groupHeader="groupHeader"
  :selected="selected"
  :innerWidth="innerWidth"
  :bodyHeight="bodyHeight"
  :selectionType="selectionType"
  :emptyMessage="messages.emptyMessage"
  :rowIdentity="rowIdentity"
  :rowClass="rowClass"
  :selectCheck="selectCheck"
  :displayCheck="displayCheck"
  :summaryRow="summaryRow"
  :summaryHeight="summaryHeight"
  :summaryPosition="summaryPosition"
  @page="onBodyPage"
  @activate="$emit('activate')"
  @rowContextmenu="onRowContextmenu"
  @select="onBodySelect($event)"
  @scroll="onBodyScroll($event)"
  @treeAction="onTreeAction($event)">
</datatable-body>
<div class="datatable-footer">
  <datatable-footer ref="datatableFooter"
    v-if="footerHeight"
    :rowCount="rowCount"
    :pageSize="pageSize"
    :offset="myOffset"
    :footerHeight="footerHeight"
    :totalMessage="messages.totalMessage"
    :pagerLeftArrowIcon="cssClasses.pagerLeftArrow"
    :pagerRightArrowIcon="cssClasses.pagerRightArrow"
    :pagerPreviousIcon="cssClasses.pagerPrevious"
    :selectedCount="selected.length"
    :selectedMessage="!!selectionType && messages.selectedMessage"
    :pagerNextIcon="cssClasses.pagerNext"
    @page="onFooterPage">
  </datatable-footer>
</div>
</div>
