<div
  class="ngx-datatable"
  v-visibility-observer="{ on: visibilityCheck, timeout: visibilityCheckTimeout }"
  :class="classObject"
  @visible="onVisible"
  @insert-column="onColumnInsert"
>
  <div class="hidden-columns" ref="hiddenColumns"><slot></slot></div>
  <datatable-header
    ref="datatableHeader"
    class="datatable-header"
    v-if="headerHeight"
    :sorts="mySorts"
    :sortType="mySortType"
    :scrollbarWidth="scrollbarWidth"
    :scrollbarH="scrollbarH"
    :innerWidth="innerWidth"
    :offsetX="offsetX"
    :dealsWithGroup="Array.isArray(groupRowsBy) && Boolean(groupRowsBy.length)"
    :columns="internalColumns"
    :headerHeight="headerHeight"
    :reorderable="reorderable"
    :sortAscendingIcon="cssClasses.sortAscending"
    :sortDescendingIcon="cssClasses.sortDescending"
    :allRowsSelected="allRowsSelected"
    :selectionType="selectionType"
    :columnGroupWidths="columnGroupWidths"
    :columnsByPin="columnsByPinArray"
    @sort="onColumnSort($event)"
    @resize="onColumnResize($event)"
    @reorder="onColumnReorder($event)"
    @select="onHeaderSelect($event)"
    @columnContextmenu="onColumnContextmenu($event)"
    @column-visible-changed="onColumnChangeVisible($event)"
  >
  </datatable-header>
  <datatable-body
    ref="datatableBody"
    :groupRowsBy="groupRowsBy"
    :rows="internalRows"
    :groupExpansionDefault="groupExpansionDefault"
    :scrollbarV="scrollbarV"
    :scrollbarH="scrollbarH"
    :virtualization="virtualization"
    :loadingIndicator="loadingIndicator"
    :externalPaging="externalPaging"
    :rowHeight="myRowHeight"
    :rowCount="rowCount"
    :offset="myOffset"
    :trackByProp="trackByProp"
    :columns="internalColumns"
    :pageSize="pageSize"
    :limit="limit"
    :offsetX="offsetX"
    :rowDetail="rowDetail"
    :rowDetailHeight="rowDetailHeight"
    :groupHeader="groupHeader"
    :selected="mySelected"
    :checked="myChecked"
    :innerWidth="innerWidth"
    :bodyHeight="bodyHeight"
    :selectionType="selectionType"
    :checkMode="checkMode"
    :emptyMessage="messages.emptyMessage"
    :rowIdentity="rowIdentity"
    :rowClass="rowClass"
    :selectCheck="selectCheck"
    :displayCheck="displayCheck"
    :summaryRow="summaryRow"
    :summaryHeight="summaryHeight"
    :summaryPosition="summaryPosition"
    :groupRowHeight="groupRowHeight"
    :groupHeaderStyles="groupHeaderStyles"
    :groupHeaderClasses="groupHeaderClasses"
    :groupHeaderSlot="groupHeaderSlot"
    :rowDetailSlot="rowDetailSlot"
    :renderTracking="renderTracking"
    :beforeSelectRowCheck="beforeSelectRowCheck"
    :columnGroupWidths="columnGroupWidths"
    :columnsByPin="columnsByPinArray"
    @page="onBodyPage"
    @activate="$emit('activate', $event)"
    @rowContextmenu="onRowContextmenu"
    @select="onBodySelect"
    @check="onBodyCheck"
    @scroll="onBodyScroll"
    @group-toggle="onGroupToggle"
    @tree-action="onTreeAction"
    @rendered="$emit('rendered', $event)"
  >
  </datatable-body>
  <div class="datatable-footer" :class="{ 'datatable-footer-border': Boolean(footerHeight) }">
    <datatable-footer
      ref="datatableFooter"
      v-if="footerHeight"
      :rowCount="rowCount"
      :pageSize="pageSize"
      :offset="myOffset"
      :footerHeight="footerHeight"
      :totalMessage="messages.totalMessage"
      :pagerLeftArrowIcon="cssClasses.pagerLeftArrow"
      :pagerRightArrowIcon="cssClasses.pagerRightArrow"
      :pagerPreviousIcon="cssClasses.pagerPrevious"
      :selectedCount="mySelected.length"
      :selectedMessage="!!selectionType && messages.selectedMessage"
      :pagerNextIcon="cssClasses.pagerNext"
      :footerSlot="footerSlot"
      @page="onFooterPage"
    >
    </datatable-footer>
  </div>
</div>
